h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
#agency {
    height: 60px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#employee {
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}
#filterID {
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
#filterRow1, #filterRow2, #filterRow3, #filterRow4, #filterRow5, #filterButton {
    padding-top: 6px;
    padding-bottom: 6px;
    display: none;
}
#graphTable {
    padding-top: 20px;
}
#graphTable table, th, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12 px;
}
.separator {
    height: 20px;
    width: 100%;
    background-color: none
}
.emplAction {
    margin-top: auto;
    margin-bottom: auto;
}
.tab-content {
    background: white;
    padding: 12px;
    border-radius: 3px;
}
